/* .comment-box-inner SCROLLBAR */
.custom-scroll::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.custom-scroll::-webkit-scrollbar-thumb {
    /* height: 30%;  */
    background: #294A57; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}