<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/overlay.css">
    <link rel="stylesheet" href="../static/css/fonts.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body>
    <!-- <div class="overlay">
        <div class="title-bar">
            <p class="title">어쩔빌라</p>
            <div class="star">3.4 <img src="../static/images/icons/star.png" alt="Star" width="30"></div>
        </div>

        <div class="review-box">좋긴 좋아요 근데 방음이...<span>+32</span></div>
        <div class="price-box">
            <p class="price">30.7만</p>
            <p class="payback">/ 보증금 300만</p>
        </div>
        <div class="arrow"></div>
    </div> -->

    <div class="overlay">
        <div class="title-bar">
            <p class="title">정보가 없어요!</p>
        </div>

        <p class="please">ROOMER의 기여자가 되어 주세요!</p>
        <div class="create">
            <p class="write"><i class="bi bi-pencil-square"></i> 정보 기입하기</p>
        </div>
        
        <div class="arrow"></div>
    </div>
</body>

</html>