<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/overlay.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
</head>

<body>
    <div class="overlay">
        <div class="title-bar">
            <p class="title">어쩔빌라</p>
            <div class="star">3.4 <img src="../static/images/icons/star.png" alt="Star" width="30"></div>
        </div>

        <div class="review-box">좋긴 좋아요 근데 방음이...<span>+32</span></div>
        <div class="price-box">
            <p class="price">30.7만</p>
            <p class="payback">/ 보증금 300만</p>
        </div>
        <div class="arrow"></div>
    </div>
</body>

</html>